[submodule "experiments/validation/simccl/nccl-tests"]
	path = experiments/validation/simccl/nccl-tests
	url = https://github.com/NVIDIA/nccl-tests
[submodule "experiments/validation/gpt_oss_1b_training/megatron-lm"]
	path = experiments/validation/gpt_oss_1b_training/megatron-lm
	url = https://github.com/NVIDIA/Megatron-LM.git
