[submodule "experiments/validation/simccl/nccl-tests"]
	path = experiments/validation/simccl/nccl-tests
	url = https://github.com/NVIDIA/nccl-tests
[submodule "vendor/atlahs"]
	path = vendor/atlahs
	url = git@github.com:spcl/atlahs.git
