[submodule "experiments/validate_simccl/nccl-tests"]
	path = experiments/validate_simccl/nccl-tests
	url = https://github.com/NVIDIA/nccl-tests
[submodule "vendor/atlahs"]
	path = vendor/atlahs
	url = git@github.com:spcl/atlahs.git
[submodule "experiments/validate_compute/megatron-lm"]
	path = experiments/validate_compute/megatron-lm
	url = https://github.com/NVIDIA/Megatron-LM.git
[submodule "vendor/Megatron-LM-traced"]
	path = vendor/Megatron-LM-traced
	url = git@github.com:tiberiuiancu/Megatron-LM-traced.git
